.btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 75px;

    .btn-link-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding-bottom: 23px;


        .btn-link {
            @include base-btn();
        }
    }
}
