.btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;

    .btn-link-wrapper{

        margin: 20px;
        display: flex;
        justify-content: space-between;


        .btn-link {
            @include base-btn();
        }
    }
}
