.btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 100px);
    width: 100%;
    padding-top: 5px;
    
    margin-bottom: 100px;


    .btn-link-wrapper{
        display: flex;
        flex-direction: column;
        padding: 25px;
        padding-right: 70px;
        
    

        .btn-link {
            @include base-btn();
        }

        .small-btn-link {
             @include small-btn();
        }
    }


}
