.btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

    .btn-link-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 37px;
        padding-bottom: 25px;


        .btn-link {
            @include base-btn();
        }
    }
}
