.heading-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $chransendarkgreen;
    
    
    .heading-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        width: 100vw;
        padding-top: 30px;
        padding-right: 40px;
        padding-bottom: 10px;
        align-items: center;
        ;
        border-bottom: 2px solid $chransengreen;
        background-color: $chransenmidgreen;

        .subtitle {
            font-size: 1.75rem;
            font-family: 'Hanalei Fill', cursive;
            color: $offwhite;
            font-weight: 100;

        }
    }


}