.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    

    
    .heading-container-wrapper {
        height: 250px;
        display: flex;
        

    }

    .btn-container-wrapper {
        height: calc(100vh + 100px);
        display: flex;


    }

    .icon-container-wrapper {
        height: 60px;
        padding: 0px;
    }

}