.icon-wrapper {
    display: flex;
    background-color: $chransenmidgreen;
    justify-content: center;
    height: 100%;
    width: 100vw;
    align-items: center;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 3px;
    border-top: 2px solid $chransengreen;

    .instagram-icon-wrapper {
        padding: 0px 20px 0px 10px;

        .hc-instagram-icon {
            @include base-icon();

            &:hover {
                font-size: 3.5rem;
                color: #8a3ab9;
            }
        }
    }

    .twitter-icon-wrapper {
        padding: 0px 20px 0px 10px;

        .hc-twitter-icon {
            @include base-icon();

            &:hover {
                font-size: 3.5rem;
                color: #1DA1F2;
            }
        }
    }
    
}