.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 400px;
    padding-right: 70px;
    padding-bottom: 20px;

    .instagram-icon-wrapper {
        padding: 0px 20px 0px 10px;

        a {
            cursor: pointer;
            font-size: 7rem;
        }
    }

    .twitter-icon-wrapper {
        padding: 0px 10px 0px 10px;
    }
}