.new-release-btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh + 293px);
    width: 100%;
    padding-top: 30px;
    

     


    .cover-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-right: 55px;
        
        
        img {
            height: 200px;
            width: 220px;
            border: 1px solid $chransencoolgreen;
            border-bottom: 3px solid $chransencoolgreen;
            box-shadow: 0 3px 2px $chransenmidgreen;
        }
    }

    .new-release-heading {
        color: $offwhite;
        padding-right: 40px;
    }

    .new-release-btn-link-wrapper{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-right: 65px;
    

    .smaller-btn-link-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-right: 80px;
    }

        .new-release-btn-link {
             @include smaller-btn();
             display: flex;
             flex-direction: column;
             padding: 25px;
             justify-content: center;
             align-items: center;
            

             .new-release-social-icon {
                 display: flex;
                 font-size: 0.95em;
                 justify-content: center;
                 align-items: center;
                 padding-top: 0px;
            }
             
        }
        .bigger-link{
            text-decoration: none;
            
        }

        .smaller-link {
            text-decoration: none;
        }
        

        .smaller-new-release-btn-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include even-smaller-btn();

            .smaller-icon {
                
                padding-left: 0px;
                font-size: 0.6rem;
                
            }
        }
    }

    .homepage-link-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-top: 45px;
        padding-bottom: 20px;
        padding-right: 85px;

        .homepage-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 55px;
            @include tiny-btn();
            
        }
    }


}