.new-release-btn-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 100%;
    padding-top: 30px;
    padding-right: 20px;
    margin-bottom: 300px;


    .cover-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-right: 80px;
        
        img {
            height: 30vh;
            width: 220px;
        }
    }

    .new-release-btn-link-wrapper{
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-right: 80px;
    

    .download-btn-link-wrapper {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-right: 80px;
    }

        

        .new-release-btn-link {
             @include even-smaller-btn();
        }

        .download-new-release-btn-link {
            display: flex;
            justify-content: center;
            align-items: center;

            @include even-smaller-btn();

            .download-icon {
                font-size: 1.5rem;
            }
        }
    }


}