@mixin smaller-btn {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 300px;
    font-size: 0.8rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background-color: $chransendarkpurpletwo;
    color: $chransentextpurple;
    box-shadow: 0 3px 2px $chransencoolpurple;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        color: $chransenmidpurple;
        background-color: $chransencoolpurple;
        border-radius: 15px;
        box-shadow: 0 3px 3px $chransenmidpurple;
        
    }
}



@mixin tiny-btn {
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font-size: 0.65rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: $chransendarkpurpletwo;
    color: $chransentextpurple;
    box-shadow: 0 2px 3px $chransencoolpurple;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        color: $chransenmidpurple;
        background-color: $chransencoolpurple;
        box-shadow: 0 3px 4px $chransenred;
        
    }
}

@mixin base-icon {
    cursor: pointer;
    font-size: 3rem;
    color: $chransencoolpurple;
    transition: 0.3s ease-in-out;
}

@mixin base-heading-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: $chransenmidpurple;
    border-bottom: 1px solid $chransencoolpurple;
    

}

@mixin base-heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100vw;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 2px solid $chransencoolpurple;
    background-color: $chransenmidpurple;
}



