@mixin base-btn {
    cursor: pointer;
    height: 60px;
    font-size: 1.75rem;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    background-color: $chransenmidgreen;
    color: $offwhite;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: $chransengreen;
        border-bottom: 5px solid $chransenmidgreen;
    }
}