$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;
$darkred: #380000;
$midred: #530000;
$chransengreen: #18fad4;
$chransendarkgreen: #013A30;
$chransenmidgreen: #026051;
$chransencoolgreen: #19F9FA;
$chransenoldgreen: #19D2FA;
$chransenred: #FA193F;
$chransenorange: #FA3F19;