.wrong-page-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    

    .wrong-page-image-wrapper {
        img {
            
            height: 30vh;
            width: 40vw;

        }
    }

    .wrong-page-heading-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .wrong-page-heading {
            font-family: 'Hanalei Fill', cursive;
            font-size: 0.9rem;
            text-align: center;
            color: $chransengreen;
            padding-bottom: 10px;
        }

        .wrong-page-link {
            @include tiny-btn();
        }
    }
}